<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Termination</key>
	<false/>
	<key>CrashReporter</key>
	<true/>
	<key>StoreReview</key>
	<true/>
	<key>KillFileThreads</key>
	<false/>
	<key>FullSearch</key>
	<true/>
	<key>Drafts</key>
	<false/>
	<key>PrivateMessages</key>
	<false/>
	<key>TabbedSettings</key>
	<false/>
	<key>Tetris</key>
	<false/>
</dict>
</plist>
